#
# file: Kconfig-peripheralsOptions
#
# author: Copyright (C) 2018 Cezary Gapinski cezary.gapinski@gmail.com
#
# This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
# distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#

if CHIP_STM32_DMAV2

config CHIP_STM32_DMAV2_DMA1_ENABLE
	bool "DMA1 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1
	help
		Enable DMA1 low-level driver

config CHIP_STM32_DMAV2_DMA2_ENABLE
	bool "DMA2 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2
	help
		Enable DMA2 low-level driver

if CHIP_STM32_DMAV2_DMA1_ENABLE

config CHIP_STM32_DMAV2_DMA1_STREAM0_ENABLE
	bool "DMA1 stream 0 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM0
	help
		Enable DMA1 stream 0 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM0_PRIORITY_LEVEL
	int "DMA1 stream 0 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM0_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA1_STREAM1_ENABLE
	bool "DMA1 stream 1 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM1
	help
		Enable DMA1 stream 1 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM1_PRIORITY_LEVEL
	int "DMA1 stream 1 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM1_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA1_STREAM2_ENABLE
	bool "DMA1 stream 2 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM2
	help
		Enable DMA1 stream 2 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM2_PRIORITY_LEVEL
	int "DMA1 stream 2 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM2_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA1_STREAM3_ENABLE
	bool "DMA1 stream 3 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM3
	help
		Enable DMA1 stream 3 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM3_PRIORITY_LEVEL
	int "DMA1 stream 3 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM3_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA1_STREAM4_ENABLE
	bool "DMA1 stream 4 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM4
	help
		Enable DMA1 stream 4 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM4_PRIORITY_LEVEL
	int "DMA1 stream 4 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM4_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA1_STREAM5_ENABLE
	bool "DMA1 stream 5 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM5
	help
		Enable DMA1 stream 5 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM5_PRIORITY_LEVEL
	int "DMA1 stream 5 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM5_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA1_STREAM6_ENABLE
	bool "DMA1 stream 6 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM6
	help
		Enable DMA1 stream 6 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM6_PRIORITY_LEVEL
	int "DMA1 stream 6 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM6_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA1_STREAM7_ENABLE
	bool "DMA1 stream 7 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA1_STREAM7
	help
		Enable DMA1 stream 7 low-level driver

config CHIP_STM32_DMAV2_DMA1_STREAM7_PRIORITY_LEVEL
	int "DMA1 stream 7 priority level"
	depends on CHIP_STM32_DMAV2_DMA1_STREAM7_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

endif	# CHIP_STM32_DMAV2_DMA1_ENABLE

if CHIP_STM32_DMAV2_DMA2_ENABLE

config CHIP_STM32_DMAV2_DMA2_STREAM0_ENABLE
	bool "DMA2 stream 0 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM0
	help
		Enable DMA2 stream 0 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM0_PRIORITY_LEVEL
	int "DMA2 stream 0 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM0_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA2_STREAM1_ENABLE
	bool "DMA2 stream 1 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM1
	help
		Enable DMA2 stream 1 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM1_PRIORITY_LEVEL
	int "DMA2 stream 1 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM1_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA2_STREAM2_ENABLE
	bool "DMA2 stream 2 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM2
	help
		Enable DMA2 stream 2 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM2_PRIORITY_LEVEL
	int "DMA2 stream 2 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM2_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA2_STREAM3_ENABLE
	bool "DMA2 stream 3 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM3
	help
		Enable DMA1 stream 3 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM3_PRIORITY_LEVEL
	int "DMA2 stream 3 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM3_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA2_STREAM4_ENABLE
	bool "DMA2 stream 4 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM4
	help
		Enable DMA2 stream 4 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM4_PRIORITY_LEVEL
	int "DMA2 stream 4 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM4_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA2_STREAM5_ENABLE
	bool "DMA2 stream 5 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM5
	help
		Enable DMA2 stream 5 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM5_PRIORITY_LEVEL
	int "DMA2 stream 5 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM5_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA2_STREAM6_ENABLE
	bool "DMA2 stream 6 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM6
	help
		Enable DMA2 stream 6 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM6_PRIORITY_LEVEL
	int "DMA2 stream 6 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM6_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

config CHIP_STM32_DMAV2_DMA2_STREAM7_ENABLE
	bool "DMA2 stream 7 low-level driver"
	default n
	depends on CHIP_STM32_DMAV2_HAS_DMA2_STREAM7
	help
		Enable DMA2 stream 7 low-level driver

config CHIP_STM32_DMAV2_DMA2_STREAM7_PRIORITY_LEVEL
	int "DMA2 stream 7 priority level"
	depends on CHIP_STM32_DMAV2_DMA2_STREAM7_ENABLE
	default 0
	range 0 3
	help
	Level range

	0 - Low
	1 - Medium
	2 - High
	3 - Very high

endif	# CHIP_STM32_DMAV2_DMA2_ENABLE

config CHIP_STM32_DMAV2_HAS_CSELR
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM0
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM1
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM2
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM3
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM4
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM5
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM6
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA1_STREAM7
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM0
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM1
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM2
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM3
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM4
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM5
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM6
	bool
	default n

config CHIP_STM32_DMAV2_HAS_DMA2_STREAM7
	bool
	default n

endif	# CHIP_STM32_DMAV2
